In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [6]:
#importing necessary library
import pandas as pd
list = [4,8,15,16,23,42]
ser = pd.Series(list)
print(ser)
type(ser)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

pandas.core.series.Series

In [7]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [10]:
my_list = [ 'apple', 'air', 'banana', 'monkey', 'school', 'pen', 'keyboard', 1,2,3,4]
pd.Series(my_list)

0        apple
1          air
2       banana
3       monkey
4       school
5          pen
6     keyboard
7            1
8            2
9            3
10           4
dtype: object

In [11]:
'''  
Q3. Create a Pandas DataFrame that contains the following data:
Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female


Then, print the DataFrame.

'''

'  \nQ3. Create a Pandas DataFrame that contains the following data:\nName\nAlice\nBob\nClaire\n\nAge\n25\n30\n27\n\nGender\nFemale\nMale\nFemale\n\n\nThen, print the DataFrame.\n\n'

In [12]:
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [13]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [14]:
''' 

In pandas, a **DataFrame** is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, where you have rows and columns to organize and manipulate data. The DataFrame is a fundamental data structure in pandas and is used for various data manipulation and analysis tasks.

On the other hand, a **Series** is a one-dimensional labeled array capable of holding any data type. It is like a single column or a single row of data in a DataFrame. A DataFrame can be thought of as a collection of Series objects, where each Series represents a column of the DataFrame.

Here's a brief explanation of the differences with an example:

**DataFrame:**
- Two-dimensional structure with rows and columns.
- Columns can have different data types.
- Suitable for tabular data and working with multiple variables.
- Can be created using dictionaries, lists, arrays, or other DataFrames.

Example:

```python
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)
print(df)
```

Output:

```
    Name  Age  Gender
0  Alice   25  Female
1    Bob   30    Male
2 Claire   27  Female
```

**Series:**
- One-dimensional structure, representing a single column or row.
- Homogeneous data type within a Series.
- Useful for working with a single variable or extracting a single column from a DataFrame.
- Can be created from lists, arrays, or other Series.

Example:

```python
import pandas as pd

ages = pd.Series([25, 30, 27], name='Age')
print(ages)
```

Output:

```
0    25
1    30
2    27
Name: Age, dtype: int64
```
'''

" \n\nIn pandas, a **DataFrame** is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, where you have rows and columns to organize and manipulate data. The DataFrame is a fundamental data structure in pandas and is used for various data manipulation and analysis tasks.\n\nOn the other hand, a **Series** is a one-dimensional labeled array capable of holding any data type. It is like a single column or a single row of data in a DataFrame. A DataFrame can be thought of as a collection of Series objects, where each Series represents a column of the DataFrame.\n\nHere's a brief explanation of the differences with an example:\n\n**DataFrame:**\n- Two-dimensional structure with rows and columns.\n- Columns can have different data types.\n- Suitable for tabular data and working with multiple variables.\n- Can be created using dictionaries, lists, arrays, or other DataFrames.\n\nExample:\n\n```python\nimport pandas as pd\n\ndata = {\n    'Name': ['Alice', 'Bob', 'Claire'],\n    'Age': [25, 30, 27],\n    'Gender': ['Female', 'Male', 'Female']\n}\n\ndf = pd.DataFrame(data)\nprint(df)\n```\n\nOutput:\n\n```\n    Name  Age  Gender\n0  Alice   25  Female\n1    Bob   30    Male\n2 Claire   27  Female\n```\n\n**Series:**\n- One-dimensional structure, representing a single column or row.\n- Homogeneous data type within a Series.\n- Useful for working with a single variable or extracting a single column from a DataFrame.\n- Can be created from lists, arrays, or other Series.\n\nExample:\n\n```python\nimport pandas as pd\n\nages = pd.Series([25, 30, 27], name='Age')\nprint(ages)\n```\n\nOutput:\n\n```\n0    25\n1    30\n2    27\nName: Age, dtype: int64\n```\n"

In [15]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#you give an example of when you might use one of these functions?

In [16]:
''' 
Pandas provides a variety of functions to manipulate and analyze data in a DataFrame. Here are some common functions:

head() and tail():

head(n) returns the first n rows of the DataFrame.
tail(n) returns the last n rows of the DataFrame.
python
Copy code
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)

print(df.head(2))  # Display the first 2 rows
describe():

Provides descriptive statistics (count, mean, std, min, 25%, 50%, 75%, max) for each column.
python
Copy code
print(df.describe())
info():

Displays a concise summary of the DataFrame, including data types and missing values.
python
Copy code
print(df.info())
sort_values():

Sorts the DataFrame by specified columns.
python
Copy code
df_sorted = df.sort_values(by='Age', ascending=False)
print(df_sorted)


'''

" \nPandas provides a variety of functions to manipulate and analyze data in a DataFrame. Here are some common functions:\n\nhead() and tail():\n\nhead(n) returns the first n rows of the DataFrame.\ntail(n) returns the last n rows of the DataFrame.\npython\nCopy code\nimport pandas as pd\n\ndata = {'Name': ['Alice', 'Bob', 'Claire'],\n        'Age': [25, 30, 27],\n        'Gender': ['Female', 'Male', 'Female']}\n\ndf = pd.DataFrame(data)\n\nprint(df.head(2))  # Display the first 2 rows\ndescribe():\n\nProvides descriptive statistics (count, mean, std, min, 25%, 50%, 75%, max) for each column.\npython\nCopy code\nprint(df.describe())\ninfo():\n\nDisplays a concise summary of the DataFrame, including data types and missing values.\npython\nCopy code\nprint(df.info())\nsort_values():\n\nSorts the DataFrame by specified columns.\npython\nCopy code\ndf_sorted = df.sort_values(by='Age', ascending=False)\nprint(df_sorted)\n\n\n"

In [18]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [19]:
'''  

In pandas, both Series and DataFrame are mutable.

Series: You can modify the values of a Series by assigning new values to specific indices.


import pandas as pd

series_data = pd.Series([1, 2, 3, 4])
print(series_data)

# Modify a value
series_data[2] = 10
print(series_data)
DataFrame: You can modify the values of a DataFrame by adding, deleting, or updating rows and columns.


import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

df = pd.DataFrame(data)
print(df)

# Modify a value
df.at[1, 'Age'] = 31
print(df)

# Add a new column
df['City'] = ['New York', 'San Francisco', 'Los Angeles']
print(df)

# Delete a column
del df['Gender']
print(df)

'''

"  \n\nIn pandas, both Series and DataFrame are mutable.\n\nSeries: You can modify the values of a Series by assigning new values to specific indices.\n\n\nimport pandas as pd\n\nseries_data = pd.Series([1, 2, 3, 4])\nprint(series_data)\n\n# Modify a value\nseries_data[2] = 10\nprint(series_data)\nDataFrame: You can modify the values of a DataFrame by adding, deleting, or updating rows and columns.\n\n\nimport pandas as pd\n\ndata = {'Name': ['Alice', 'Bob', 'Claire'],\n        'Age': [25, 30, 27],\n        'Gender': ['Female', 'Male', 'Female']}\n\ndf = pd.DataFrame(data)\nprint(df)\n\n# Modify a value\ndf.at[1, 'Age'] = 31\nprint(df)\n\n# Add a new column\ndf['City'] = ['New York', 'San Francisco', 'Los Angeles']\nprint(df)\n\n# Delete a column\ndel df['Gender']\nprint(df)\n\n"

In [20]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

In [22]:
name_Series = pd.Series(['Ram', 'Sudanshu', 'Krish'], name = 'Name')
age_Series = pd.Series([24,34,36], name ='Age')
gender_Series = pd.Series(['Male', 'Male', 'Male'], name="Gender")

data = {
    'Name':name_Series,
    'Age':age_Series,
    'Gender':gender_Series
}
df = pd.DataFrame(data)
print(df)

       Name  Age Gender
0       Ram   24   Male
1  Sudanshu   34   Male
2     Krish   36   Male